# This is meant to be copied in to $HOME if you're tracking this repo there.
#Ignore everything...
*
#..execpt these
!environmentals*
!.bashrc
!.bash_profile
!.ssh/config
!bootstrap
!**.yml
!README.md
!LICENSE
!Makefile
!.git*
